/* Gazetteer App - Main Stylesheet */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: white;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid black;
    border-top: 6px solid antiquewhite;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Main App */
html, body, main {
    margin: 0px;
    height: 100%;
    height: 100%;
}

#selectBar {    
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;    
}

#country_list {
    max-width: 60%;
    width: auto;
}

#map {
    height: 100%;
    width: 100%;
}

.modal-title, #countryName {
    color: rgb(0, 50, 0)
}

#countryFlag {
    max-width: 50%;
    padding-left: 0.5rem;  
}

#wikiThumbnail {
    width: 100%;
    border: 1px, solid, rgb(0, 80, 0);
    border-style: solid;
    border-radius: 4%;
    margin-bottom: 1rem;
}

.modal-body {
    font-size: 18px;
}

.modal-table {
    width: 100%;
}

.modal-table tr:nth-child(odd) {
    background: rgb(215, 250, 218)
}

.modal-table tr th, td {
    padding: 0.4rem;
}
